prototyping/models/vosk-model-small-sv-rhasspy-0.15.zip
prototyping/models/vosk-model-small-sv-rhasspy-0.15/graph/HCLG.fst
prototyping/models/vosk-model-small-sv-rhasspy-0.15
prototyping/models/vosk-model-small-sv-rhasspy-0.15.zip
prototyping/models/vosk-model-small-sv-rhasspy-0.15/graph/HCLG.fst
prototyping/models/vosk-model-small-sv-rhasspy-0.15
